{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <h1 class="bg-blue-500 text-2xl  text-center font-bold">Movies: </h1>
    {% for movie in movies %}
        <p>{{movie.title}}</p>
        <img src="{{ asset(movie.imagePath)}}"/>
    {% endfor %}
{% endblock %}