{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <h1 class="bg-blue-500 text-2xl  text-center font-bold">Globarl variables: </h1>
    Page: {{ _self }}
    Charset: {{ _charset }}
    Author: {{ author }}
    

    <h1>Movies: </h1>
    {% for movie in movies %}
        <p>{{movie.title}}</p>
    {% endfor %}
{% endblock %}